<!DOCTYPE>
<html>
<head>
    <title id="webtitle">产品独立控制面板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script type="text/javascript" src="publicD/maincss.js"></script>
    <script type="text/javascript" src="publicD/jmaincss.js"></script>
    <script type="text/javascript" src="publicD/main.js"></script>

    <!--element vue start-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--element vue end-->

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        input{
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            background: none;
            border:none;
        }

        .wrap{
            margin: 200px 0 0 200px;
        }

        .box {
            position: relative;
            width: 270px;
            height: 30px;
            border-radius: 20px;
            background: #686B69;
            line-height: 30px;
            overflow: hidden;
            color: #fff;
            font-size: 12px;
        }

        .btn {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            width: 30px;
            background: #0e81cc;
            border-radius: 20px;
            text-align: center;
            z-index: 100;
        }

        .tips {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            width: 270px;
            text-align: center;
            z-index: 99;
        }
    </style>
</head>
<body >
<!--头部开始-->
<div id="header"></div>
<!--头部结束-->
<!--登录开始-->
<div class="clear"></div>
<!-- 内容区 开始 -->
<div class="content" id="content">
    <div class="wide1190" style="position: relative;">
        <!--登陆表单容器 开始-->
        <div class="login-box" id="controlPanelLoginDiv">
            <div class="text-center hide m-login-logo"></div>
            <div class="login-title">产品独立控制面板</div>
            <div class="login-from">

                <el-form ref="formLogin" :model="form" :rules="rules">
                    <el-form-item prop="productClass">
                        <el-select v-model="form.productClass" placeholder="请选择产品" style="width: 270px">
                            <i slot="prefix" class="el-input__icon el-icon-menu"></i>
                            <el-option
                                    v-for="item in proList"
                                    :key="item.productClass"
                                    :label="item.productName"
                                    :value="item.productClass">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="instance">
                        <el-input v-model="form.instance" placeholder="请输入实例ID" style="width: 270px">
                            <i slot="prefix" class="el-input__icon el-icon-user-solid"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="pwd">
                        <el-input v-model="form.pwd" placeholder="请输入管理密码" style="width: 270px" show-password>
                            <i slot="prefix" class="el-input__icon el-icon-key"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <div class="cl pt-10">
                            <div class="box" id="box">
                                <div class="btn" id="dragEle"></div>
                                <div class="tips" id="tMsg">拖动滑块到最右边</div>
                            </div>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" :disabled="submitVisible" style="width: 270px" @click="login">立即登录</el-button>
                    </el-form-item>
                </el-form>


            </div>
        </div>
    </div>
    <!--登陆表单容器 结束-->
</div>
</div>
<!--登录结束-->
<!--底部开始-->
<footer>
    	<div class="service-footer container">
    		<div class="row">
    			<div class="col-md-3 col-sm-3">
    				<img src="/img/service-footer1.png" alt="服务"/>
    				<div class="service-footer-info">
    					<p class="service-footer-title">服务</p>
    					<p class="service-footer-contant">7*24小时服务支持</p>
    				</div>
    			</div>
    			<div class="col-md-3 col-sm-3">
   				<img src="/img/service-footer2.png" alt="备案"/>
   				<div class="service-footer-info">
    					<p class="service-footer-title">备案</p>
    					<p class="service-footer-contant">0元快速备案</p>
    				</div>
    			</div>
   			<div class="col-md-3 col-sm-3">
    				<img src="/img/service-footer3.png" alt="保障"/>
   				<div class="service-footer-info">
    					<p class="service-footer-title">保障</p>
    					<p class="service-footer-contant">100倍故障赔偿</p>
    				</div>
    			</div>
    			<div class="col-md-3 col-sm-3">
   				<img src="/img/service-footer4.png" alt="退款"/>
    				<div class="service-footer-info">
    					<p class="service-footer-title">退款</p>
    					<p class="service-footer-contant">5天无理由退款</p>
    				</div> 				
    			</div>
    		</div>
    	</div>
    	<div class="container-fluid pt-50 footer-intr">
    		<div class="container">
    			<div class="row">
    				<div class="footer-info-link">
    					<p class="footer-title">热门产品</p>
    					<a class="footer-link" href="/domain/index.html">域名注册</a>
    					<a class="footer-link" href="/cloud/thrid-two.html">云服务器</a>
    					<a class="footer-link" href="/idc/wjzy.html">服务器租用</a>
    					<a class="footer-link" href="/idc/HK.html">香港服务器</a>
    					<a class="footer-link" href="/idc/USA.html">美国服务器</a>
    				</div>
    				<div class="footer-info-link">
    					<p class="footer-title">帮助中心</p>
    					<a class="footer-link" href="/support/domainHelp.html">域名备案</a>
    					<a class="footer-link" href="/support/cloudHelp.html">云服务</a>
    					<a class="footer-link" href="/support/IDCHelp.html">IDC服务</a>
    					<a class="footer-link" href="/support/kfHelp.html">应用开发</a>
    				</div>
    				<div class="footer-info-link">
    					<p class="footer-title">产品与支持</p>
    					<a class="footer-link" href="/about/about.html?content=beian">备案流程</a>
    					<a class="footer-link" href="/about/about.html?content=shengqing">测试机申请</a>
    				</div>
    				<div class="footer-info-link">
    					<p class="footer-title">关于极云</p>
    					<a class="footer-link" href="/about/index.html">关于我们</a>
    					<a class="footer-link" href="/about/connect.html">联系方式</a>
    					<a class="footer-link" href="/about/about.html?content=corporateculture">企业文化</a>
    					<a class="footer-link" href="/about/about.html?content=zhizi">公司资质</a>
    				</div>
    				<div class="col-md-2 col-sm-2">
    					<div class="footer-wx">
  					<img src="/img/footer-wx.png" alt="极云天下公众号">
  					<p>关注微信公众号</p>
    				    </div>
    			    </div>
    				<div class="col-md-4 col-sm-4">
    					<div class="mc-list-items1"> 
  	  	          <p></p> 
  		  	          <p style="font-size:24px">028-65773958</p> 
  		              <div> 
  		  	         <a class="footer-sale1" data-title="电话：18584883263" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=167730759&site=qq&menu=yes" rel="nofollow">售前咨询</a>
  		  	         <a class="footer-sale2" data-title="电话：18512828895" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=766686207&site=qq&menu=yes" rel="nofollow">售后服务</a>
  		              </div> 
  		  	          <p style="margin-top:10px">地址：中国（四川）自由贸易试验区成都高新区天府四街199号2栋11楼1110室</p> 
  		  	          </div> 
    				</div>
    			<div class="footer-line"><img style="width: 100%;height: 1px;" src="/img/footer-line.png" alt=""></div>
  
    			<div class="beian-info pb-10">
     				<p>版权所有 © 成都极云天下科技有限公司 保留一切权利  <a href="http://www.beian.miit.gov.cn" rel="nofollow">蜀ICP备17027862号-1</a></p>
    				<p>《中华人民共和国增值电信业务经营许可证》经营许可证编号 川B1-20170453</p>
     			</div>
    		</div>
    	</div>
    </footer>
<!--底部结束-->
<script type="text/javascript">
    $(function(){
        $('.login-from').keydown(function(ev){
            var e=ev||event;
            keycode=e.keycode||e.which;
            if(keycode==13){
                $('.g-blue-btn').trigger("click");
            }
        });
    });
</script>
<script type="text/javascript" src="controlPanel/controlPanel.js"></script>
</body>
