<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云配置引导首页</title>
    <script src="../../public/maincss.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="yunconfig.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .time {
            font-size: 13px;
            color: #999;
        }

        .bottom {
            line-height: 12px;
        }

        .button {
            padding: 0;
            float: right;
        }

        .image {
            width: 100%;
            display: block;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both
        }
    </style>
</head>

<body class="gray-bg" _funCode="saveAliyunConfig">
<div id="main-block" v-cloak>
    <div style="width: 100%;">
        <div class="yunconfig-header">
                <div style="float: left"><svg class="icon" aria-hidden="true" style="height: 40px; width: 40px"><use xlink:href="#icon-kuaisuxiangdao"></use></svg></div>
            <div style="float: left; line-height: 50px; margin-left: 15px"><a href="index.html">云配置向导</a> >> 阿里云配置</div>
        </div>
    </div>
    <div class="main-box">
        <el-form  label-width="100px" :model="form" :rules="rules" ref="ruleForm">
            <el-form-item label="显示名称：" prop="productName">
                <el-input v-model="form.productName" style="width: 200px" placeholder="请输入名称"></el-input>
            </el-form-item>
            <el-form-item label="状态：" prop="statusFlag">
                <el-switch
                        v-model="form.statusFlag"
                        active-text="允许用户申请开通"
                        inactive-text="禁止用户申请开通">
                </el-switch>
            </el-form-item>
            <el-form-item label="溢价率：" prop="premium">
                <el-input-number  v-model="form.premium" :step="1">
                </el-input-number> <span>%</span>
                <span style="font-size: 12px; color: #333333"> 相对于您的成本价格；如果为正数，表示相对于您的成本溢价，为负则表示折价。比如，您的成本价格若为￥100，溢价5%，客户实际支付价格为：￥105；若为-5%，客户则实际支付￥95。</span>
            </el-form-item>
            <el-form-item>
                <a href="javascript:void(0)" class="el-icon-mobile-phone" @click="seeCost"> 成本查看</a>
            </el-form-item>
            <el-form-item label="重装限制：" prop="resetLimit">
                <el-input-number  v-model="form.resetLimit" :step="1" :min="1">
                </el-input-number>
                <span style="font-size: 12px; color: #333333"> (单位：小时，注：本产品下每台主机每隔几个小时重装一次，为空不限制) </span>
            </el-form-item>
            <el-form-item>
                <a href="javascript:void(0)" class="el-icon-setting" @click="showApiEdit" style="color: #FF0000"> 接口设置</a>
            </el-form-item>
            <el-button type="primary" plain @click="saveConfig">保存修改</el-button>
        </el-form>
    </div>


    <el-dialog title="阿里云接口设置" :visible.sync="dialogFormVisible">
        <el-form :model="apiForm">
            <el-form-item label="Access Key Id：" label-width="180px">
                <el-input v-model="apiForm.aliyunAccessKeyId" style="width: 320px"></el-input>
            </el-form-item>
            <el-form-item label="Access Key Secret：" label-width="180px">
                <el-input v-model="apiForm.aliyunAccessKeySecret" show-password style="width: 320px"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveApiSet">确 定</el-button>
        </div>
    </el-dialog>

</div>
</body>
<script src="../../public/main.js"></script>
<script language="JavaScript">
    document.write('<link rel="stylesheet" href="'+realPath+'/public/fonts/iconfont.css">');
</script>
<script src="js/aliyun_config.js"></script>
</html>
